<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<form action="/addProjectToTeam" method="get">
<select name="team">
    {% for team in teams %}
    <option value="{{ team.id }}">{{ team.name }}</option>
    {% endfor %}
</select>
<select name="project">
    {% for project in projects %}
        <option value="{{ project.id }}">{{ project.name }}</option>
    {% endfor %}
</select><br/>
<button type="submit">Add Project</button>
</form>
</body>
</html>


<style>
    span{
        border: black;
    }
</style>