<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<tr class="tile">
    {% for title in titles %}
    <td class="tile">{{ title }}</td>
    {% endfor %}
</tr><br/>
<tr>
    {% for item in entities %}
    <td>{{ item.team }}</td>
    <td>
        {% for pro in item.project %}
            <span>{{ pro }}</span>
        {% endfor %}
    </td>
    <td>
        {% for mem in item.member %}
            <span>{{ mem }}</span>
        {% endfor %}
    </td>
    {% endfor %}
</tr>
</body>
</html>


<style>
    span{
        border: black;
    }
</style>